.boardColumn
{
    display: inline-block;
    padding:10px;
    width: 400px;
    vertical-align:top;
}
.note
{
    min-height: 100px!important;
    margin-top:15px;
    font-family: 'Roboto Slab', serif;
    background-color:white;
    box-shadow: 0 2px 1px rgba(0,0,0,0.08);
    transition: background-color 1s;
}

.boardList{
  display: inline;
}

.navbar-center{
  position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
}

.clickable{
  cursor: pointer;
}

.board {
    min-width: 260px;
}

.board li {
    margin-left: 0px !important;
    margin-right: 20px !important;
}

a.plain:link {
    color: #333;
    text-decoration: none;
}

a.plain:active {
    color: #333;
    text-decoration: none;
}

a.plain:visited {
    color: #333;
    text-decoration: none;
}

a.plain:hover {
    color: #333;
    text-decoration: none;
}


body
{

  background-color:#E8E8E8;
  overflow-x:visible;
}
#container
{
  white-space: nowrap;
}
.colorPicker

{
  opacity: 0;
  transition: opacity 0.5s;
  cursor:pointer;
  margin-left: 2px;
}
div:hover > .colorPicker
{
  opacity: 1;
}
.ColorBlotch
{
  padding: 0 2px 0 2px;
  font-family: monospace;
  cursor: pointer;
  font-size: 1.2em;
  text-align: center;
}