.boardColumn
{
    display: inline-block;
    padding:10px;
    width: 400px;
    vertical-align:top;
}
.note
{
    min-height: 100px!important;
    margin-top:15px;
    font-family: 'Roboto Slab', serif;
    background-color:white;
    box-shadow: 0 2px 1px rgba(0,0,0,0.08);
    transition: background-color 1s;
}

.navbar-center{
  position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
}

body
{
  background-color:#E8E8E8;
}


#container
{
  white-space: nowrap;
}
.colorPicker

{
  opacity: 0;
  transition: opacity 0.5s;
  cursor:pointer;
  margin-left: 2px;
}
div:hover > .colorPicker
{
  opacity: 1;
}
.ColorBlotch
{
  padding: 0 2px 0 2px;
  font-family: monospace;
  cursor: pointer;
  font-size: 1.2em;
  text-align: center;
}
.newNoteButton
{
  opacity: 0;
  border-style:dashed;
  height: 100px;
  text-align: center;
  position: relative;
  margin-top: 20px;
  transition: opacity 0.5s;
}
.newNoteButton:hover
{
  opacity: 1;
}
.newNoteButton .glyphicon
{
  font-size: 50px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}