.header-image
{
	width: 100%;
}
.header-div
{
	width: 100%;
	position: relative;
	background-color: rgba(0,0,0,50);
	height: 90vh;
	background-image:url(../img/noteBoard.jpg);
	background-size: cover;
	background-position: center;
}
.header-div .contents
{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color:white;
	margin-left: auto;
	margin-right: auto;
}
.header-div small
{
	color:white!important;
	font-size: 4rem;
}
.header-div h1
{
	font-size: 6rem;
}
img
{
	max-width: 960px;
	display: block;
}
figcaption
{
	font-style: italic!important;
	font-weight: bold;
}
